@media screen and (min-width: 480px) {
 #primary {
    width: 40%;
    float: left;
  }
  
  #secondary {
    width: 50%;
    float:right;
  }
  
  nav li {
    display: inline-block;
    padding: 0;
    text-align: center;
  }
  
  #gallery li {
    float:left;
    width:40%;
    padding: 18px;
    margin: 1.3333%;
  }
  
  #gallery li:nth-child(3n) {
    clear:left;
  }
}

@media screen and (min-width: 660px) {
  
  header {
	padding-top: 0;
	padding-bottom: 30px;
  }
  
  #logo h1 {
	text-align:	center;
	font-size: 3.5rem;
    padding: 60px 0 60px;
	margin: auto;
    line-height: 1em;
  }
  
  nav {
    width: 100%;
    background: none;
    margin-right: 5%;
    padding:0;
    padding-top:8px;
    text-align:center;
  }
	
  nav li a, nav li a:visited {
	background: #fff;
  color: #4A5482;
	padding: 16px 28px;
	border: 5px solid #4A5482;	
	border-radius: 10px;
	}	


  nav li a.current {
	
		
	}
}