<h2>Games</h2>
    <p>Games and weird experiments. Developed with Unity 5, Twine.</p> 
   
   <ul id="gallery">
     <li>
         <a href="pages/roseblock.html">
           <img src="img/roseblock_image.png" alt="Roseblock" />
           <h3>Roseblock</h3>
           <p>A somber Arkanoid Clone. The Citizen Kane of videogames. Literaly.</p>
         </a>
     </li>
     
     <li>
       <a href="pages/spaceshooter.html">
         <img src="img/ss_image.png" alt="Space Shooter" />
         <h3>Space Shooter</h3>
         <p>Endless shooter with a glitchy aestethic.</p>
       </a>
     </li>
     
     
   </ul>
   <div style="clear:both"></div>